.light_theme{
    --btn-primary-background:black;
    --btn-secondary-background:white;
    --btn-primary-color:white;
    --text-primary:black;
    --text-secondary:white;
    
}

.dark_theme{
    --btn-primary-background:white;
    --btn-secondary-background:black;
    --btn-primary-color:black;
    --text-primary:white;
    --text-secondary:black;
    background-color: black;
    color: white;
}