.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header {
  color: var(--text-primary);
  padding: 10px;
  text-align: center;
  border-bottom: #777;
  border-top: none;
  border-left: none;
  border-right: none;
}

.logo {
  font-size: 44px;
  text-transform: uppercase;
  color: var(--btn-primary-background);
  font-weight: bolder;
}

.header-right-block {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.header-right-block .menu-item {
  color: var(--btn-primary-background);
  padding: 10px;
  box-shadow: 2px 4px 2px darkgrey, darkgrey 1px 1px 2px inset;
  border-radius: 10px;
  text-shadow: 2px 2px 2px darkgrey;
}

.header-right-block .menu-item.active {
  background-color: var(--btn-primary-background);
  border-radius: 5px;
  color: white;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.profile-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.profile-description {
  font-size: 14px;
  color: #777;
}

.round-icon {
  color: var(--btn-primary-background);
  font-size: 35px;
  margin-bottom: 10px;
}


.search_input {
  border: 1px solid var(--btn-primary-background);
  border-radius: 15px;
  box-shadow: 1px 1px 3px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  flex-grow: 0.9;
}

.search_input input {
  height: 90%;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--btn-secondary-background);
}

.search_input i {
  font-size: 30px;
  color: var(--btn-primary-background);
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .header-container{
    padding: 0;
  }
  .search-input {
    width: 100%;
  }

  .header-right-block {
    margin-top: 10px;
    min-width: 50vw;
  }

  .search_input {
    width: 100%;
    order: 1;
  }

  .logo {
    font-size: 35px;
  }
}