.banner_block{
    position: relative;
    margin: 30px 0;
    color: var(--text-secondary);
}

.banner_block img{
    height: 25vw;
    border-radius: 30px;
    object-fit: cover;
    width: 100%;
    box-shadow: 2px 4px 10px  var(--btn-primary-background);;
}

.banner_block .left_block{
    position: absolute;
    padding: 20px;
    top: 0;
}

.left_block h1{
    font-size: 6vmax;
    font-weight: 900;
}

.left_block p{
    font-size: 2vmax;
    font-weight: 500;
}

/* Media Queries */
@media screen and (max-width: 767px) {    .banner_block img{
        height: 45vw;
    }
}