.guidance_block{
    margin: 20px 0;
    background-color: var(--secondary-background);
    padding: 20px;
    border-radius: 30px;
    flex-wrap: wrap;
}


.guidance_up{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.guidance_up .tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow-secondary);
    padding: 5px 15px;
    justify-content: space-between;
    flex: 0 1 100%;
    background-color: var(--btn-secondary-background);
    color: var(--text-primary);
}

.guidance_up .tab.active{
    background-color: var(--primary-btn-background);
    color: var(--text-secondary);
}

.guidance_up div:last-child{
    display: flex;
    gap: 20px;
}

.guidance_places_list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding: 20px 0;

}

.guidance_place_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    flex-grow: 1;
    align-items: center;
}

.guidance_place_card img{
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 2px 4px 10px;
    object-fit: contain;
    width: 600px;
    height: 300px;
}

.guidance_place_card p{
    color: var(--text-primary);
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    /* text-shadow: 0px 2px 2px grey; */
}

.guidance_up h2{
    background: var(--primary-btn-background);
    color: var(--text-secondary);
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .guidance_place_card p{
        font-size: 15px;
    }
}


